:root {
    --bg-color: #272727;
    --text-color: #747474;
    --highlight-orange-color: #FF652F;
    --highlight-yellow-color: #FFE400;
    --highlight-green-color: #14A76c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 75px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0px 24px 0px 24px;

    border-bottom: 1px solid black;
    color: black;
}

#logo {
    width: 60%;
}

#nav-bar {
    width: 40%;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

nav > ul > li {
    list-style: none;
}

main {
    background-image: url("background-image.jpg");

    color: var(--text-color);
}

#service {
    margin-top:75px;
}