:root {
    --bg-color: #272727;
    --bg-color-trans: rgba(39, 39, 39, 0.8);
    --text-color: #747474;
    --highlight-orange-color: #FF652F;
    --soft-orange-color: rgba(255, 101, 47, 0.6);
    --highlight-yellow-color: #FFE400;
    --soft-yellow-color: rgba(255, 228, 0, 0.6);
    --highlight-green-color: #14A76c;
    --soft-green-color: rgba(20, 167, 108, .6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0 6px;

    border-bottom: 1px solid black;
    color: black;
    background-color: var(--bg-color);
}

#header > p {
    font-size: 32px;
    color: white;
}

#logo {
    width: 30%;
    height: 90%;
}

#logo > img {
    max-height: 100%;
    color: black;
    margin: auto;
}

#logo > p {
    width: 25%;
    float: right;
}

#nav-bar {
    width: 65%;
    height: 100%;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 100%;
}

nav > ul > li {
    list-style: none;
    color: white;
    border-left: 1px solid white;
    text-align: center;
    vertical-align: center;
    width: 100%;
}

nav li a {
    color: white;
    line-height: 42px;
    font-size: 12px;
}

main {
    background-image: url("background-image.jpg");
    color: var(--text-color);
}

.main-section {
    padding: 24px;
}

.section-title > h2 {
    font-size: 36px;
    margin-top: 48px;
    text-align: center;

    color: white;
}

.sub-section {
    width: 30%;
    min-width: 240px;
    margin: 0 auto;
    background-color: var(--bg-color-trans);
    border-radius: 15px;

    margin-top: 48px;
}

.sub-section h2 {
    text-align: center;
    font-size: 36px;
}

.sub-section p {
    width: 100%;
    margin: 32px auto 0;
    font-size: 18px;
    text-align: center;
}

.sub-section > .flex-wrapper {
    display: flex;
    flex-direction: column;

    padding: 32px;
}

.sub-section > .flex-wrapper > .icon {
    min-width: 72px;
    min-height: 72px;

    margin: auto;
}

.sub-section .icon img {
    width: 100%;
    max-width: 256px;
    min-width: 72px;
    margin: auto;
}

.section-seperator {
    margin-top: 64px;
    height: 24px;
    display: block;
    background-color: var(--bg-color);
    border-top: 2px solid #171717;
    border-bottom: 2px solid #171717;
}

#service-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

#service-1 {
    box-shadow: 
    0px 0px 15px 6px var(--soft-orange-color),
    0px 0px 7px 3px var(--highlight-orange-color);
}

#service-1 h2 {
    color: var(--highlight-orange-color);
}

#service-2 {
    box-shadow: 
    0px 0px 15px 6px var(--soft-yellow-color),
    0px 0px 7px 3px var(--highlight-orange-color);
}

#service-2 h2 {
    color: var(--highlight-yellow-color);
}

#service-3 {
    box-shadow: 
    0px 0px 15px 6px var(--soft-green-color),
    0px 0px 7px 3px var(--highlight-green-color);
}

#service-3 h2 {
    color: var(--highlight-green-color);
}


#staff .grid-wrapper {
    width: 80%;
    margin: auto;
    margin-top: 64px;
    display: grid;
    grid-template-columns: 128px auto 128px;
    grid-template-rows: 128px 48px 128px 48px 128px;
    grid-template-areas: 
    'img1 bio1 bio1'
    '. . .'
    'bio2 bio2 img2'
    '. . .'
    'img3 bio3 bio3';
}

#staff img {
    max-width: 100%;
    padding: 8px;
}

#staff .staff-bio-div {
    text-align: center;
    display: flex;
    align-items: center;
}

form {
    width: 60%;
    background-color: var(--bg-color-trans);
    margin: auto;
    margin-top: 32px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    display: block;
    margin-bottom: 8px;

    color: white;
}

form input {
    width: 100%;
    margin-bottom: 24px;
}

form select {
    width: 75%;
    margin: auto;
    margin-bottom: 24px;
}

#submit-button {
    margin-bottom: 0;
    height: 48px;
    font-size: 24px;
}

@media screen and (max-width 600px) {
    #header > p {
        display: none;
    }
}